---
layout: fancy
---
# Hello, I'm Radian :)

Welcome to my personal website! WOW OMG!

I just post random stuff here like my projects and some notes for myself.
Those notes are my thoughts on stuff and when I'm learning something new!

This is my own personal space in the internet. Feel free to look around.
Also please be nice I'm still new to all this.

Yeah nothing much really.

### TODO
- Currently learning zig
- Currently in an internship
  - Learning Blazor and .NET
- Learning and building a simple fuzzy search with soundex in C!

