---
layout: fancy
---

<script lang="ts">
	import { resolve } from '$app/paths';

</script>

**Me random notes :)**


- Zig
  - [new Io interfaces]({resolve('/my-notes/zig-io')})
  - [when to use `free()` and `destroy()`]({resolve('/my-notes/mem-free-destroy')})
