---
layout: fancy
---

# This is me!

This is me. As you can see I like programming, and just vibing out to code, and not vibe coding, those are two different things.
Programming to me is fun, gets my brain up and running, it gets me thinking, it gets me to create stuff that I never knew I could.

### Video Games
Ever since I was a kid I loved playing video games, all day everyday I would play video games, and I ignored a lot of stuff that was being told to me.
All I cared about was video games, and through video games, I met some very awesome people that I would play with but also enjoy life together.

### College

College was a lot of question marks for me, a lot of stuff I didn't know, but a lot of stuff I got to do, and I a lot of stuff I didn't but wanted to do.
College got me thinking about me and what I wanted to do after school. It made me reflect to actually do what you want and not just "go with the flow" all the time, because sometimes you need to make decisions for yourself and not have others do it for you.
