@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #1f1d2e;
  --color-r-base: #191724;
  --color-r-base-dawn: #faf4ed;
  --color-surface: #1f1d2e;
  --color-surface-dawn: #fffaf3;
  --color-overlay: #26233a;
  --color-overlay-dawn: #f2e9e1;
  --color-muted: #6e6a86;
  --color-subtle: #908caa;
  --color-text: #e0def4;
  --color-text-dawn: #575279;
  --color-love: #eb6f92;
  --color-gold: #f6c177;
  --color-r-rose: #ebbcba;
  --color-r-rose-moon: #ea9a97;
  --color-pine: #31748f;
  --color-pine-moon: #3e8fb0;
  --color-foam: #9ccfd8;
  --color-iris: #c4a7e7;
  --color-hl-low: #21202e;
  --color-hl-low-dawn: #f4ede8;
  --color-hl-med: #403d52;
  --color-hl-med-dawn: #dfdad9;
  --color-hl-high: #524f67;
  --color-hl-high-dawn: #cecacd;
  --font-mono: "JetBrainsMono Nerd Font", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace, "Courier New", monospace
}


.prose code:not(pre code) {
  background-color: var(--color-hl-med-dawn);
  color: var(--color-hl-med);
  border-radius: 0.375rem;
  padding: 0.15em 0.35em;
}

.dark .prose code:not(pre code) {
  background-color: var(--color-overlay);
  color: var(--color-r-rose-moon);
  border-radius: 0.375rem;
  padding: 0.15em 0.35em;
}

.prose code::before,
.prose code::after {
  content: none;
  display: none;
}

/**/
/* .prose code { */
/*   background-color: var(--color-hl-med-dawn); */
/*   color: var(--color-surface); */
/*   border-radius: 5px; */
/*   padding: 2px; */
/* } */
/**/
/**/
/* .dark.prose code { */
/*   background-color: var(--color-hl-high); */
/*   color: var(--color-surface); */
/*   border-radius: 5px; */
/*   padding: 2px; */
/* } */
